

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #008dff; 

    .nav-link-container {
        height: 22px;
        border-bottom: 1px solid transparent;
        transition: 0.5s ease-in-out;
        text-transform: uppercase;
        font-size: 0.9rem;
        margin-right: 20px;
         
        

        a {
            color: #f6f6f6;
            text-decoration: none;
            &:hover {
                color: black;
            }
        }

        &:hover {
            border-bottom: 1px solid black;
        }

        .nav-link-active {
            border-bottom: 1px solid black;
            color: black;
        }
    }
}